<h2>Добавить</h2>

<form action="/add" method="post">
    <div class="input-field">
          <input id="title" name="title" type="text" class="validate" required>
          <label for="title">Название курса</label>
        <span class="helper-text" data-error="Введите название" data-success="OK">Введите название</span>
    </div>

    <div class="input-field">
          <input id="price" name="price" type="number" class="validate" required min="1">
          <label for="price">Цена курса</label>
        <span class="helper-text" data-error="Введите цену" data-success="OK">Введите цену</span>
    </div>

    <div class="input-field">
          <input id="img" name="img" type="text" class="validate" required>
          <label for="img">URL курса</label>
        <span class="helper-text" data-error="Введите URL картинки" data-success="OK">Введите URL картинки</span>
    </div>


    <!--
    req.csrfToken() вставит в value `token,
    который будет назначен res.locals.csrf в  variables.js
    -->
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn btn-primary">Добавить курс</button>
</form>